[flake8]
# see https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203, E501, W503, E701, E704
exclude = \
  .venv,
  */.ipynb_checkpoints

max-line-length=100

per-file-ignores =
    # imported but unused
    __init__.py: F401

